button{
    color: #FFF;
    font-family: Poppins;
    font-style: normal; 
    line-height: normal;

    max-width: 245px;
    max-height: 60px;
    background: #F71963;

    border: none;
}
button:hover{
    cursor: pointer;
}